<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name='viewport' content='width=device-width, initial-scale=1'>
	<script src='/assets/icone.js'></script>
	<link rel="stylesheet" href="/assets/semantic/semantic.min.css">
	<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
	<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
	<title></title>
	<script type="text/javascript">
		function modifierTache(argument) {
			var nouvelleTache;
			var message = "Entrer la nouvelle tâche\n";
			message += "L'ancienne étant "+argument;
			do{
				nouvelleTache = prompt(message);
				if (nouvelleTache === null) {
					break;
				}
				if (nouvelleTache === ""){
					alert("La nouvelle tache ne doit pas etre vide");
				}
			}while(nouvelleTache === "")
			
			if (nouvelleTache != null){
				$.ajax({
				url: '/modifier',
				type: 'POST',
				dataType: 'json',
				data: {ancienneTacheName: argument, 
						nouvelleTacheName: nouvelleTache},
				success : function (data) {
					if (data){
						document.location.reload(true);
					}
					
				}
			})
			.done(function() {
				console.log("success");
			})
			.fail(function() {
				console.log("error");
			})
			.always(function() {
				console.log("complete");
			});
			}
			
			
		}
	</script>
</head>
<body>
	<div class="header item">
		<h1>Ma todolist</h1>
	</div>
	
	<div class="ui main container">
		<% if (locals.flash && locals.flash.erreur) { -%>
		<p><%= locals.flash.erreur%></p>
		<% }-%>
		<% if (locals.flash && locals.flash.success) { -%>
		<p><%= locals.flash.success%></p>
		<% }-%>
		<% if (locals.flash && locals.flash.suppression) { -%>
		<p><%= locals.flash.suppression%></p>
		<% }-%>
		<% if (listes) { -%>
		<ul style="list-style-type: circle;">
			<% for (var i = 0; i < listes.length; i++) { -%>
			<li><a href="/supprimer/<%=listes[i]._id%>" title="supprimer"><i class="fas fa-trash"></i></a>
				<a title="modifier"><i class="fas fa-edit" onclick="modifierTache('<%=listes[i]._id%>')"></i></a><%= listes[i].title%>
			</li>
				<% } -%>
			</ul>
			<% }-%>

			<form action="/envoyer" method="POST">
				<label for="faire">Que dois-je faire ?</label>
				<input type="text" name="afaire">
				<input type="submit" name="soumettre" value="Valider">
			</form>
		</div>


	</body>
	</html>